.form-atualizar{
    background-color: lightgray;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
}

label{
    margin-top: 10px;
    font-size: 1.5em;
}

.btns{
    margin-top: 20px;
}
