td, tr, th{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th{
    background-color: lightgray !important;
}

.th-carro, .th-modelo, .th-marca{
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    background-color: darkgray !important;
    color:black;
    border-collapse: collapse;
}

.tr-classes{
    border: none;
    border-collapse: collapse;
}
.noBorder{
    border-right: none;
}
